[Unit]
Description = udpot daemon

[Service]
WorkingDirectory = /home/udpot/UDPot-master
ExecStart = /home/udpot/.pyenv/shims/python dns.py 8.8.8.8 -p {{ udpot_port }} --sql=sqlite:////var/log/udpot/db.sqlite3
Restart = always
Type = simple
User = udpot

[Install]
WantedBy=multi-user.target
